body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

ul {
  font-family: monospace;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-style: bold;
}

#GoogleButton {
  border-radius: 50px;
  background: #c0c0c0;
  box-shadow: 20px 20px 60px #a3a3a3, -20px -20px 60px #dddddd;
}
